.list-container {
  .fc-list-item-time,
  .fc-header-toolbar {
    display: none;
  }
}

.calendar-container {
  .fc-time {
    display: none;
  }
}

.payment-late {
  background-color: #dc3545;
  border-color: #dc3545;
}
