@import 'bootstrap';

.btn + .btn {
  margin-left: 6px;
}

.simple_form {

  // Bootstrap checkboxes
  .form-check {
    // Reduces padding of bootstrap-checkboxes when used in a simple_form
    padding-left: 0;

    // Adds form-control stylings to bootstrap-checkbox, which expects bootstrap3 styless
    .btn-group:focus {
      outline: 0;
      border-radius: 6px;
      @include form-control-focus();
    }
  }

  // SimpleForm bootstrap templates don't account input-group wrappers
  .is-invalid ~ .invalid-feedback {
    display: block;
  }

  // Removes table border from datetimepicer calendar popup
  .bootstrap-datetimepicker-widget {
    .table {
      font-family: sans-serif;
      border-style: none;
      td { border-style: none; }
    }
  }
}

textarea.form-control {
  height: 12em;
}

pre.scrollable {
  padding: 5px;
  max-height: 12em;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

pre.sans {
  font-family: 'Montserrat', sans-serif;
}

.currency {
  text-align: right;
}

.pagination {
  margin: 0;
}

